
div .front_end {
   	width: 100%;
   	border: 1px solid gray;
   
  }

header, footer{
	padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;

} 

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
body {
	background-color: white;
	text-align: left;

}
h1 {
	color: white;
	font-family: Times New Romans;
	font-size: 500%
	text-transform: capitalize;
	text-decoration: underline;

}
h2{
	text-transform: uppercase;
	color: rgb(0, 0, 0);
	font-family: Times;
	font-size: 200%

}
p {
	color: black;
	font-size:  100%
	font-family: verdana;
	text-align: left;

}
